@import 'tailwindcss';

@utility container {
  max-width: var(--container-7xl);
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 4);
}

:root {
  color-scheme: light;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Ảnh block để tránh khoảng trắng dưới ảnh */
img {
  display: block;
  max-width: 100%;
}
